@font-face {
  font-family: "Satoshi";
  src: url('./assets/fonts/Satoshi/Fonts/OTF/Satoshi-Regular.otf');
}

@font-face {
  font-family: "Satoshi-bold";
  src: url('./assets/fonts/Satoshi/Fonts/OTF/Satoshi-Bold.otf');
}


:root {
  font-family:'Satoshi';
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
}

svg{
  display:inline-flex
}


.fadeLeftMini {
  animation: fadeLeftMini 1s;
  animation-fill-mode: both;
}

.fadeRightMini {
  animation: fadeRightMini 1s;
  animation-fill-mode: both;
}

@keyframes fadeLeftMini {
  0% {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeRightMini {
  0% {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}